{% extends "layout2.html" %}

{% block title %}
    About the webapp
{% endblock %}

{% block main %}
    <h4>ABOUT</h4>

    <p>Hello, it's me Shashank.k.p, the developer of this web application named :- <b><u>PeterPasswd</u></b></p>
    <p>Sounds weird but I named it with my two favourite things, One is with Peter who is also known as Spiderman!!&#128375; &#128376;</p>
    <p>And passwd which is from Kali linux is a keyword for password so I made a mash up of the both words.</p>
    <p>*GOALS of this application :
    <p>~ To make a centralised hub which acts like a passwd manager and saves the site/app name, username & password in a database,</p>
    <p>~ And can be only accessed, read, deleted & added by you.</p>
    <p>~ And you don't have to remember all the passwords and usernames and site or app which they belong to,</p>
    <p>~ That is done by "Peter Passwd",</p>
    <p>~ You just need one password to access them all.</p>
    <p>~ In simple words :- "A safe locker for your credentials!"</p>
    <h5>You start by <a href="/login">Logging</a> in or by <a href="/register">Registering</a> if are a new user.</h5>
    <p></p>
    <p>You can know about my by going to following sites:</p>
    <p></p><a href="https://www.youtube.com/channel/UCeVQyWWc2qFi8G4_S-Nm6HQ">Youtube</a>, <a href="https://github.com/Shashankkp247">Github</a> & <a href="https://skpmemos.wordpress.com">Blog-site</a></p>
        <p></p>
    <h6><u><a href="/">&#x21AA;Return to Home page</a></u></h6>
    <p></p>
    <h6><u><a href="/passwd">&#x21AA;Return to Passwd Manager</a></u></h6>
    <p></p>
{% endblock %}