{% extends "layout.html" %}

{% block title %}
    Apology
{% endblock %}

{% block body %}
    <h1>"{{ top }}"</h1>
    <p></p>

    <style>
        img
        {
            width: 100%;
        }
    </style>


    <img src="/static/Sad.jpg" alt="Success" style="width:250px;height:250px;"/>
    <p></p>

    <h2>{{ bottom }}</h2>

    <h6><u><a href="/">&#x21AA;Return to Home page</a></u></h6>

    <p>

    </p>

    <h6><u><a href="/passwd">&#x21AA;Return to Passwd Manager</a></u></h6>
{% endblock %}