{% extends "layout.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block body %}
    <form action="/change_passwd" method="post">
        <div class="form-group">
            <input autocomplete="off" auotfocus class="form-control" name="username" placeholder="Username" type="text">
        </div>

        <div class="form-group">
            <input class="form-control" name="password" placeholder="New Password" type="password">
        </div>

        <div class="form-group">
            <input class="form-control" name="confirmation" placeholder="Confirm Password" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Change Password</button>
    </form>

        <p>

    </p>
    <h6><u><a href="/">&#x21AA;Return to Home page</a></u></h6>

    <p></p>
    <h6><u><a href="/passwd">&#x21AA;Return to Passwd Manager</a></u></h6>
    
{% endblock %}