{% extends "layout.html" %}

{% block title %}
    Success
{% endblock %}

{% block body %}
    <p>

    </p>
    <h1>It was a Success!!</h1>
    <p>

    </p>

    <style>
        img
        {
            width: 100%;
        }
    </style>


    <img src="/static/success.jpg" alt="Success" style="width:350px;height:350px;"/>

    <p></p>
    <h6><u><a href="/">&#x21AA;Return to Home page</a></u></h6>
    <p></p>
    <h6><u><a href="/passwd">&#x21AA;Return to Passwd Manager</a></u></h6>
    <p></p>
{% endblock %}